@import url('styles/base.css');
@import url('styles/header.css');
@import url('styles/container.css');
@import url('styles/cards.css');
@import url('styles/card.css');
@import url('styles/padlock.css');
@import url('styles/transaction.css');



h1 {
  font-family: Lato;
  font-size: 30px;
  font-weight: 800;
}

h2 {
  font-size: 24px;
  font-weight: 800;
}

h1 + h2 {
  margin-top: 42px;
}

h2 + ul {
  margin-top: 20px;
}

h4 {
  font-size: 20;
  font-weight: 800;
}

h5 {
  font-weight: 800;
}

.transaction-title {
  margin-top: 24px;
  margin-bottom: 20px;
}
