*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
