.card {
  max-width: 474px;
}

.card h4 {
  font-size: 28px;
  margin-top: 28px;
  margin-bottom: 20px;
}

.card__content {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfdfdf;
  border-radius: 12px;
  padding: 25px 48px;
  width: 100%;
  height: 100%;
}

.card__card {
  width: 376px;
  height: 204px;
  border-radius: 12px;
  padding: 28px 24px;
  display: flex;
  justify-content: space-between;
  color: white;
  position: relative;
  text-transform: capitalize;
  overflow: hidden;
}

.card__card img {
  position: absolute;
  top: 28px;
  right: 25px;
}

.card__card h3 {
  font-size: 20px;
  font-weight: 700;
}

.card__card p {
  font-size: 14px;
}

.card__card > * {
  z-index: 5;
}

.card__card::before,
.card__card::after {
  content: '';
  position: absolute;
  width: 330px;
  height: 220px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: 1;
}

.card__card::before {
  top: 104px;
  right: 180px;
}

.card__card::after {
  left: 140px;
  bottom: 124px;
}

.card__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card__item:last-child {
  justify-content: end;
}

