.card {
  max-width: 474px;
}

.card__content {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfdfdf;
  border-radius: 12px;
  padding: 25px 48px;
  width: 100%;
  height: 100%;
}

.card__card {
  width: 376px;
  height: 204px;
  border-radius: 12px;
  padding: 28px 24px;
  display: flex;
  justify-content: space-between;
  color: white;
  position: relative;
  text-transform: capitalize;
  overflow: hidden;
}

.card__card.bg-1 {
  background: linear-gradient(-175deg, #9c2cf3, #3a6ff9);
}

.card__card.bg-2 {
  background: linear-gradient(-175deg, #f32cc7, #27a6ae);
}

.card__card.bg-3 {
  background: linear-gradient(-175deg, #f3972c, #e333c7);
}

.card__card img {
  position: absolute;
  top: 28px;
  right: 25px;
}

.card__card h3 {
  font-size: 20px;
  font-weight: 700;
}

.card__card p {
  font-size: 14px;
}

.card__card > * {
  z-index: 5;
}

.card__card::before,
.card__card::after {
  content: "";
  position: absolute;
  width: 330px;
  height: 220px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: 1;
}

.card__card::before {
  top: 104px;
  right: 180px;
}

.card__card::after {
  left: 140px;
  bottom: 124px;
}

.card__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__item p:nth-of-type(1) {
  opacity: 0.5;
}
.card__item :first-child {
  flex-grow: 1;
}

.card__title-balans + h4 {
  font-size: 28px;
  margin-bottom: 30px;
}

.card__item:last-child {
  justify-content: end;
}
