.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 64px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .container h1,
  .container h2 {
    text-align: center;
  }
}
